<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Booking service
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchQuery" (input)="getItems($event)"></ion-searchbar>
    </ion-toolbar>
  <ion-list>
    <ion-item class="item" *ngFor="let b of items " detail lines="full" (click)="showInfo(b)">
    <!-- <ion-item class="item" *ngFor="let b of bookings" href="/(details:{{b.bookingId}}"> -->
      <div class="info">
        <h2>{{b.firstName}} {{b.lastName}} {{b.bookingId}}</h2>
        <p>{{b.bookingTime | date}}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
