// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  line-height: 1.2;
  margin-bottom: .5em;
  margin-top: 0;
}

// Paragraphs
p {
  margin: 0 0 1.2rem;
}
